@import '../global/variables';


html {
  font-size: $base-font-size;
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $base-body-font-size;

  h1 {
    font-size: $type-heading-h1-font-size
  }

  @include phone-screen {
    h1 {
      font-size: $type-mobile-heading-h1-font-size;
    }

  }
}

.base {
  background-color: rgb(236, 235, 234);
  margin: auto;
}

.container {
  width: clamp(320px, 100%, 1920px);
  margin: 0 auto;
  font-family: $font-inter;
}