@import '../../global_all';

html {
  font-size: $base-font-size;
}

body {
  font-family: $font-inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $base-body-font-size;

  h1 {
    @include set-font-size($unit-heading-h1-font-size);
  }



  @include phone-screen {
    h1 {
      @include set-font-size($unit-heading-h1-font-size-mobile);
    }



  }
}

.base {
  background-color: rgb(236, 235, 234);
  margin: auto;
}

.container {
  width: clamp(320px, 100%, 1920px);
  margin: 0 auto;
  font-family: $font-inter;
}