*, *::before, *::after {
  box-sizing: border-box
}


img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;

}

a:visited {
  color: unset;
  background-color: transparent;
  text-decoration: none;
}

li {
  list-style: none;

}

//debug use
// * {
//   outline: 2px solid red;
// }

// * {
//   background-color: rgb(0 100 0/0.1);
// }