@keyframes marquee {
  0% {

    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes fadeOut {
  to {
    opacity: 0;

  }
}

@keyframes showAndFadeOut {

  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
    /*最後一刻淡化且要整個消失才不會蓋到首頁功能*/
  }
}