//font-size
$base-font-size: 62.5%;
$base-body-font-size: 1.6rem;
$base-body-font-size-sm: 1.4rem;
$base-body-font-size-xsm: 1.2rem;

$type-heading-h1-font-size: 4rem;
$type-heading-h2-font-size: 3.2rem;
$type-heading-h3-font-size: 2.8rem;
$type-heading-h4-font-size: 2.4rem;
$type-heading-h5-font-size: 2rem;
$type-heading-h6-font-size: 1.6rem;


$type-mobile-heading-h1-font-size: 3.2rem;
$type-mobile-heading-h2-font-size: 2.4rem;
$type-mobile-heading-h3-font-size: 2.4rem;
$type-mobile-heading-h4-font-size: 2.4rem;
$type-mobile-heading-h5-font-size: 2rem;
$type-mobile-heading-h6-font-size: 1.6rem;

$base-text-font-size: 1.8rem;
$base-text-small-font-size: 1.4rem;
$base-text-xl-font-size: 6.4rem;

$text-xxl-font-size: 9.6rem;

$base-mobile-text-font-size: 1.6rem;
$base-mobile-text-small-font-size: 1.4rem;
$base-mobile-text-xl-font-size: 5.2rem;



$base-space: .8rem;
$space-12: 1.2rem;
$space-16: 1.6rem;
$space-24: 2.4rem;
$space-32: 3.2rem;
$space-48: 4.8rem;
$space-64: 6.4rem;
$space-96: 9.6rem;
$space-192: 19.2rem;



//font -----
$font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;

$font-inter: "Inter", $font-fallback;
$font-mantou: "Mantou Sans", $font-fallback;





//color -----
$black: #000;
$white: #FFF;

$primary-gradient: linear-gradient(90deg, #E6793B 1.54%, #FF4185 97.86%);
$primary-theme-1: #DA7D4A;
$text-primary: #334155;
$text-secondary :#94A3B8;
$Bg-color-theme-1: #FDFCFB;
$Bg-color-theme-2: #F7ECE1;