@import '../styles/global_variables.scss';

.tag-person {
  padding: $space-12 $space-16;
  display: flex;
  align-items: center;
  border-radius: $space-16;

  .number {
    border-radius: 367.647px;
    background: $primary-gradient;
    display: flex;
    width: 5rem;
    height: 5rem;
    padding: $space-8 $space-16;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.353px;
    color: $white;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-size: $font-size-32;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    /* 48px */
  }

  .name {
    color: $primary-theme-1;

    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 60px */
    letter-spacing: -0.8px;


  }
}