@import '../styles/global_all.scss';

.policies_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



}

.policies {

  display: flex;
  gap: $space-24;
  width: 100%;
  justify-content: start;
  align-items: center;
  overflow: hidden;

  .fixed-h {
    height: 7.2rem;
  }



}


.policy {
  background-color: $white;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 32px;
  gap: 32px;
  flex-wrap: wrap;

  .group {
    display: flex;
    flex-direction: column;
    width: 35%;
    ;

  }
}

.policy_invisible {
  flex-shrink: 0;
  width: calc(((792)/1920 * 100vw));
  height: 403px;
}

.policy_photo {
  width: calc(355/656 * 100%)
}

.policy.active {
  width: calc(((792)/1920 * 100vw));
  height: 403px;

  .policy_photo {
    width: calc(((428)/792 * 100%))
  }
}

.policy:not(.active) {
  width: calc(((656.73)/1920 * 100vw));
  height: 334.17px;
}


img.back {
  transform: rotate(180deg);
}

.control_btn {
  background-color: transparent;
  border: none;

}

.carousel_wrap {
  height: 8.8rem;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space-24;
}

.control_circle {

  width: 12px;
  height: 12px;
  border-radius: 500px;
  opacity: 0.4;
  background: $primary-theme-1;

  &.active {
    opacity: 1;
  }
}