@import '../styles/global_variables.scss';



.services {
  display: flex;
  gap: $space-24;
  flex-wrap: wrap;
}

.service {
  width: calc((100% - $space-24)/2);
  display: flex;
  flex-direction: column;
  padding: $space-96;
  border-radius: $space-32;
  gap: $space-24;


  @include ipad-screen {
    padding: $space-40 $space-24;
  }

  @include phone-screen-576 {
    width: 100%;
  }

  @include phone-screen {
    width: 100%;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    gap: $space-16;
    justify-content: flex-start;
    width: 100%;
  }

}

.service_more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48.5%;
  width: 100%;

  .btn-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }


}

.service_photo {
  width: 50%;
  height: 100%;
  text-align: center;

  img {

    height: 100%;
    object-fit: contain;

    @include ipad-screen {
      width: 90%;
    }
  }

}

.service_content {
  font-size: $font-size-20;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0em;
  text-align: left;

}