@import '../styles/global_all.scss';



.banner {
  background-color: $white;
  display: flex;
  align-items: center;
  height: 85.8rem;
  flex-direction: column;
  gap: $space-16;

  .photo {
    height: 53.8rem;
    ;
  }

  .title {
    margin-top: $space-96;
    font-size: $text-xxl-font-size-96;
    font-family: $font-mantou;
    background: $primary-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 105%;
    /* 100.8px */
    letter-spacing: .2rem;
  }

  .subtitle {
    display: flex;
    height: 8.4rem;
    align-items: center;

  }

  .tag {
    padding: $space-12 $space-16;
    height: 5.8rem;
    display: flex;
    align-items: center;
    border-radius: $space-16;


    .text {
      color: var(--default-white, #FFF);
      font-size: $font-size-28;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }


  }

  .tag-person {
    padding: $space-12 $space-16;
    display: flex;
    align-items: center;
    border-radius: $space-16;

    .number {
      border-radius: 367.647px;
      background: $primary-gradient;
      display: flex;
      width: 5rem;
      height: 5rem;
      // padding: 7.353px 16.912px;
      padding: $base-space $space-16;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7.353px;
      color: $white;
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;

      font-size: $font-size-32;
      font-style: normal;
      font-weight: 900;
      line-height: 150%;
      /* 48px */
    }

    .name {
      color: $primary-theme-1;
      font-size: $font-size-40;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      /* 60px */
      letter-spacing: -0.8px;
    }
  }
}


.shadow {
  border: 1px solid $white;
  background: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 4px 12px 0px rgba(163, 180, 203, 0.20);
}

.news-ticker {
  background-color: $primary-theme-1;
  height: 8.7rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;

  .text {
    white-space: nowrap;
    font-family: $font-mantou;
    font-size: $text-xl-font-size-64;
    font-weight: 400;
    line-height: 6.7rem;
    letter-spacing: .2rem;
    text-align: left;
    color: $white;
    animation: marquee 10s linear infinite;
  }
}

.photo_policy {
  width: 68%;
  height: 52.3rem;
}

section {
  display: flex;
  justify-content: center;
}