@import '../styles/global_all.scss';


.header {
  height: 9.9rem;
  font-family: $font-inter;
  background-color: $white;
}

.head {
  height: 6.7rem;
  display: flex;
  justify-content: space-between;
}

.logo-block {
  display: flex;
  width: 280px;
}

.nav-block {

  color: $text-primary;
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.social-block {
  display: flex;
  width: 128px;
  justify-content: space-between;
  align-items: center;

  .social-icon {
    width: 3.2rem;
    height: 3.2rem;
  }
}