.bg-primary {
  background: $text-primary;
}

.bg-orange-dark {
  background: $primary-theme-1;

}

.bg-orange {
  background: $Bg-color-theme-2;
}

.bg-white {
  background: $white;
}

.bg-light-blue {
  background: #E3F8FF;
}

.text-white {
  color: $white;
}

.text-primary {
  color: $text-primary;
}

.text-orang-dark {
  color: $primary-theme-1;

}