.p-y-8 {
  padding-top: $space-8;
  padding-bottom: $space-8;
}


.p-y-12 {
  padding-top: $space-12;
  padding-bottom: $space-12;
}

.p-y-104 {
  padding-top: 10.4rem;
  padding-bottom: 10.4rem;
}

.p-x-12 {
  padding-left: $space-12;
  padding-right: $space-12;
}


.p-x-48 {
  padding-left: $space-48;
  padding-right: $space-48;
}


.p-8 {
  padding: $space-8;
}

.m-0 {
  margin: 0;
}


.m-x-8 {
  margin-left: .8rem;
  margin-right: .8rem;
}

.m-y-8 {
  margin-top: .8rem;
  margin-bottom: .8rem;
}


.m-t-16 {
  margin-top: $space-16;
}

.m-t-64 {
  margin-top: $space-64;
}

.m-r-8 {
  margin-right: $space-8;
}

.m-r-16 {
  margin-right: $space-16;
}

.m-b-16 {
  margin-bottom: $space-16;
}


.m-x-16 {
  margin-left: $space-16;
  margin-right: $space-16;
}