.p-tb-12 {

  padding-top: $space-12;
  padding-bottom: $space-12;
}

.p-lr-48 {
  padding-left: $space-48;
  padding-right: $space-48;

}

.m-lr-8 {
  margin-left: .8rem;
  margin-right: .8rem;
}

.p-8 {
  padding: $base-space;
}

.m-r-16 {
  margin-right: $space-16;
}

.m-r-16 {
  margin-right: $space-16;
}

.p-tb-144 {
  padding-top: 14.4rem;
  padding-bottom: 14.4rem;
}